@model OPIDChecks.Models.FileViewModel

@{
    ViewBag.Title = "Mistakenly Resolved";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<br /><br /><br />

<fieldset>
    <legend>Mistakenly Resolved</legend>

    @using (Html.BeginForm("UploadReResolvedChecksFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        // Idea for
        //   TextxboxFor(m => m.File, new { type = "file"})
        // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("ReresolvedChecksError", new { @class = "text-danger" })

        <table style="width:100%;">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">Mistakenly Resolved Checks File</label>
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Upload" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["UploadedRRCFile"]
                </td>
            </tr>
        </table>
    }

    @using (Html.BeginForm("UploadReresolvedVoidedChecksFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        // Idea for
        //   TextxboxFor(m => m.File, new { type = "file"})
        // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("RRVoidedChecksError", new { @class = "text-danger" })

        <table style="width:100%;">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">Re-Resolve Voided Checks File</label>
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Upload" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["UploadedRRVCFile"]
                </td>
            </tr>

        </table>
    }

    @using (Html.BeginForm("UploadReresolvedClearedChecksFile", "Merge", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        // Idea for
        //   TextxboxFor(m => m.File, new { type = "file"})
        // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("RRClearedChecksError", new { @class = "text-danger" })

        <table style="width:100%;">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">Re-Resolve Cleared Checks File</label>
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Upload" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @ViewData["UploadedRRCCFile"]
                </td>
            </tr>

        </table>
    }
</fieldset>

<br /><br /><br />

@using (Html.BeginForm("PerformMerge", "Superadmin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <table width="100%">
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Merge" />
                </div>
            </td>
        </tr>
        <tr>
            <td>@ViewData["MergeStatus"]</td>
        </tr>
    </table>
}

